body {
	background-color: #f8f8f8;
	font-family: "Open Sans", sans-serif;
}
#mainmenu {
	font-size: 16px;
	list-style: none;
}
#mainmenu li {
	display: inline-block;
	padding: 0 10px;
}
#mainmenu a {
	color: #000;
}
#mainmenu a:hover {
	text-decoration: none;
}
.product h1, .product h2 {
	font-size:18px;
	color: #000;
	font-weight:400;
	background-color: #eaeaea;
}
.product h1 {
	font-size:18px;
}
.product h2 {
	font-size:16px;
}
.product_image {
	border: solid 3px #ccc;
}
.product .short_descr {
	font-size: 14px;
	color: #707070;
	font-style: italic;
	line-height: 16px;
}
.product .param {
	list-style-image: url('../img/list-style-img.png');
}
.product .full_descr {
	font-size: 16px;
	color: #484343;
	line-height: 24px;
	text-align: left;
}
.feedback input[type="text"], .feedback input[type="email"], textarea {
	font-size:16px;
	font-style: italic;
	width: 300px;
}
.feedback input[type="text"], .feedback input[type="email"] {
	height:20px;
}
.feedback input[type="submit"] {
	width: 150px;
	height:30px;
	border-radius:10px;
	font-weight: bold;
	font-style: italic;
}