html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	background-color: #f8f8f8;
	font-family: "Open Sans", sans-serif;
	background-image: url('../img/header_background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}
h1 {
	font-size:18px;
}
h2 {
	font-size:16px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
#header {
	border-bottom: 1px solid #000;
	height: 700px;
	//background-image: url('../img/header_background.jpg');
	
}
#header .logo {
	margin: 20px 0 0 20px;
}
#header .icons {
	float: right;
	margin: 46px 61px 0 0;
	font-size: 18px;
	letter-spacing: 3px;
	color: #fff;
}
#footer {
	border-top: 1px solid #000;
	background-color: #eee;
	text-align: right;
	padding: 5px 20px;
}
#mainmenu {
	font-size: 16px;
	list-style: none;
	display: inline-block;
	float: right;
	margin: 40px 20px 0 0;
}
#mainmenu li {
	display: inline-block;
	padding: 0 10px;
}
#mainmenu a {
	color: #000;
}
#mainmenu a:hover {
	text-decoration: none;
	color: #29ABE2;
}
h1, h2 {
	padding-left: 15px
}
.cat_content {
	font-size: 0;
}
.cat_prod {
	display: inline-block;
	width: 298px;
	min-width:210px;
	//background-color: #eee;
	border: solid 1px #eaeaea;
	text-align: center;
	margin: 15px 30px 15px 0;
	font-size: 14px;
}
.cat_prod:nth-of-type(3n) {
	margin-right: 0;
}
.cat_prod img {
	width: 200px;
}
.product h1, .product h2 {
	color: #000;
	font-weight:400;
	background-color: #eaeaea;
}
.product_image {
	border: solid 3px #ccc;
	float: left;
	margin: 0 20px 20px 0;
}
.product_image:hover {
	border: solid 3px;
	color: transparent;
}
.product .short_descr {
	font-size: 14px;
	color: #707070;
	font-style: italic;
	line-height: 16px;
	overflow: hidden;
}
.short_descr h2 {
	padding-top: 4px;
	padding-bottom: 4px;
}
.product .param {
	list-style-image: url('../img/list-style-img.png');
}
.product .full_descr {
	font-size: 16px;
	color: #484343;
	line-height: 24px;
	text-align: left;
}
.main_descr {
	clear: both;
}
.short_descr p:first-letter , .full_descr p:first-letter {
	font-size:22px;
	color: #29ABE2;
	font-weight: bold;
}
.product table, .stillbuy {
	width: 100%;
	border-collapse: collapse;
}
.product table thead tr td, .stillbuy thead td{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-family: inherit;
}
.product table td, .stillbuy td {
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 14px;
}
.product table tr:nth-child(2n) {
	background-color: #eee;
}
.product table tbody td:first-child {
	font-weight: 600;
}
.cart_button {
	padding: 5px 10px 3px 10px;
	float: right;
}
.cart_button:hover {
	color: #29ABE2;
}
.cart_button:active {
	color: #258ab5;
}
.cart_button img {
	vertical-align: middle;
	padding-right: 10px;
}
.stillbuy {
	margin-bottom: 30px;
}
.stillbuy thead tr td {
	height: 30px;
}
.feedback input[type="text"], .feedback input[type="email"], textarea {
	font-size:16px;
	font-style: italic;
	width: 300px;
}
.feedback input[type="text"], textarea {
	text-transform: capitalize;
}
.feedback input[type="email"]:focus {
	color: #29ABE2;
	background-color: #eee;
}
.feedback input[type="text"], .feedback input[type="email"] {
	height:20px;
}
.feedback input[type="submit"] {
	width: 150px;
	height:30px;
	border-radius:10px;
	font-weight: bold;
	font-style: italic;
}